

// Custom bootstrap variables must be set or imported before bootstrap itself.
@import "bootstrap";



body.background {
  background: url('mountains_hd.jpg');
}


.front-banner {
	font-size: 150%;
}

.nav-text {
  font-size: 110%;
  margin-right: 20px;
}


@import '**/*';



