

// Custom bootstrap variables must be set or imported before bootstrap itself.
@import "bootstrap";

@import '**/*';

#main {
  width: 100%;
  margin: auto;
  margin-top: 0cm;
  border-width: 0px;
  border-style: solid;
}