

// Custom bootstrap variables must be set or imported before bootstrap itself.
@import "bootstrap";

@import '**/*';

.mainFEL {
  width: 100%;
  margin: auto;
  margin-top: 0cm;
  border-width: 4px;
  border-style: solid;
  border-color: blue;
}

