// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.show-site {
  margin: auto;
  margin-top: 1cm;
  margin-bottom: 1cm;
  border-width: 0px;
  border-style: solid;
  text-align: center;

}

.error-message {
  margin: auto;
  margin-top: 1cm;
  margin-bottom: 1cm;
  border-width: 0px;
  border-style: solid;
  text-align: center;
}

h6 {
  text-align: center;
}

.alert {
  width: 50%;
  margin: 0 auto;
}