// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.home-page {
  width: 70%;
  margin: auto;
  margin-top: 0cm;
  border-width: 0px;
  border-style: solid;
}

h1 {
  text-align: center;
}

.search-bar {
  margin: auto;
  margin-top: 1cm;
  margin-bottom: 1cm;
  width: 30%;
  border-style: solid;
  border-width: 0px;
}

.search-result {
  margin: auto;
  margin-top: 0cm;
  margin-bottom: 0cm;
  border-style: solid;
  border-width: 0px;
}

ul {
  padding: 5px;
  display: inline-block;
  vertical-align: top;
}

.sign {
  padding: 5px;
  display: inline-block;
  border-style: solid;
  border-width: 0px;
}

.links-new {
  border-style: solid;
  border-width: 0px;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.alert {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}


.admin-hide {
  margin-left: 3cm;
}





